h2{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-weight: 500;
}
body{
    text-align: center;
}



/* image adjusmnet */
.phone-img{
    width: 40%;
    height: 20%;
    border-radius: 15px;
}

/* typewriter adjustment */
.line{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}
  
  
/* typewriter animation for h2 */

.anim-typewriter{
    animation: typewriter 1.3s steps(20) 1s 1 normal both,
    blinkTextCursor 500ms steps(20) infinite normal;
}

@keyframes typewriter {
    from{
        width: 0;
    }
    to{
        width: 7em;
    }
}

@keyframes blinkTextCursor {
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}